<%= stylesheet_link_tag "application.css" %>

<nav class="navbar is-dark" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="characters">
        Characters
      </a>

      <a class="navbar-item" href="planets">
        Planets
      </a>

      <a class="navbar-item" href="species">
        Species
      </a>

      <a class="navbar-item" href="starships">
        Starships
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="../pages/about">
            About
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<br>

<p class="title is-1 is-spaced">Characters</p>

<h3>Search for Characters: </h3>
  <%= form_tag(characters_path, method: :get) do %>
    <%= text_field_tag( :search, params[:search]) %>
    <%= submit_tag("Search") %>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Homeworld:</th>
      <th>Species:</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
    <tr>
      <th><%= link_to character.name, character%></th>
      <th><%=  character.planet %></th>
      <th><%=  character.species %></th>
    </tr>
    <% end %>
  </tbody>
</table>


