<div id="<%= dom_id starship %>">
  <p>
    <strong>Name:</strong>
    <%= starship.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= starship.model %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= starship.manufacturer %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= starship.length %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= starship.crew %>
  </p>

  <p>
    <strong>Passengers:</strong>
    <%= starship.passengers %>
  </p>

  <p>
    <strong>Starship class:</strong>
    <%= starship.starship_class %>
  </p>

</div>
